
.nav-items {
 display: flex;
 list-style: none;
}

.nav-items > li {
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav > img {
  width: 40px;
  height: 40px;
}
